extends ./layout/index  

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid") 
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, ducimus perferendis voluptatem assumenda aspernatur quisquam, eum harum tenetur cum architecto dignissimos quibusdam voluptatum quaerat, magnam laudantium sapiente autem? In, voluptatem.Quas aliquam aperiam, aliquid nam obcaecati cupiditate enim pariatur veniam quam quod at esse, illum ea eum dolorum omnis vero, commodi exercitationem aspernatur dolore perspiciatis nostrum quia eos non? Nesciunt.Doloremque tempora impedit atque voluptas esse qui odit adipisci amet minus laudantium id dolores recusandae.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minima voluptatum assumenda facere nostrum hic tenetur alias perferendis tempora vero? Ducimus quidem doloremque porro dicta, adipisci quod commodi tenetur dignissimos! 

                p sit amet consectetur adipisicing elit. Autem quam pariatur quod mollitia ullam nostrum, cupiditate necessitatibus deserunt. Repellendus reprehenderit nobis sint necessitatibus vitae quia sequi adipisci, esse animi magni?
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi repellendus molestias veritatis aspernatur mollitia velit maiores tempora perspiciatis assumenda rerum, earum commodi numquam, cum, temporibus quae sed! Et, officiis quisquam!

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi repellendus molestias veritatis aspernatur mollitia velit maiores tempora perspiciatis assumenda rerum, earum commodi numquam, cum, temporibus quae sed! Et, officiis quisquam!

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi repellendus molestias veritatis aspernatur mollitia velit maiores tempora perspiciatis assumenda rerum, earum commodi numquam, cum, temporibus quae sed! Et, officiis quisquam!